<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448604861097-a680l0mv6ughr39ud9fhd1q9muhn0kun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448604861097-a680l0mv6ughr39ud9fhd1q9muhn0kun</string>
	<key>API_KEY</key>
	<string>AIzaSyDXs-PRRNPv961Xc7hCqnK5ZCNokTgfe4k</string>
	<key>GCM_SENDER_ID</key>
	<string>448604861097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamb6.outlook</string>
	<key>PROJECT_ID</key>
	<string>outlook-e8e79</string>
	<key>STORAGE_BUCKET</key>
	<string>outlook-e8e79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448604861097:ios:bbbc62621f025afe5f2fb8</string>
	<key>DATABASE_URL</key>
	<string>https://outlook-e8e79.firebaseio.com</string>
</dict>
</plist>